backend:
  name: git-gateway
  branch: master

media_folder: static/img
public_folder: /img

site_url: https://admiring-bardeen-a9951d.netlify.app

i18n:
  structure: multiple_folders
  locales: [lt, en]
  default_locale: lt

collections:
  - name: homePage
    label: Home page data
    folder: content/homePageData
    create: true
    i18n: true
    fields:
      - label: Locale
        name: locale
        widget: string
        i18n: true
      - label: Hero title
        name: heroTitle
        widget: string
        i18n: true
      - label: Hero description
        name: heroDescription
        widget: string
        i18n: true
      - label: Intro title
        name: introTitle
        widget: string
        i18n: true
      - label: Intro description
        name: introDescription
        widget: string
        i18n: true
      - label: Technologies
        name: technologies
        widget: list
        i18n: true
        fields:
          - label: Type
            name: type
            widget: string
            i18n: true
          - label: Description
            name: description
            widget: string
          - label: Names
            name: names
            widget: list
            field: {label: Title, name: title, widget: string}
      - label: Tools
        name: tools
        widget: list
        field: {label: Title, name: title, widget: string}
      - label: Projects title
        name: projectsTitle
        widget: string
        i18n: true
      - label: Projects description
        name: projectsDescription
        widget: string
        i18n: true
      - label: Projects
        name: projects
        widget: list
        i18n: true
        fields:
          - {label: Image, name: image, widget: image, i18n: true}
          - {label: Name, name: name, widget: string, i18n: true}
          - {label: Link, name: link, widget: string, i18n: true}
          - {label: Repo, name: repo, widget: string, required: false, i18n: true}