html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.section {
    margin: 0 auto;
    max-width: 960px;
    padding: 0px 1.0875rem 1.45rem;
    padding-bottom: 40px;
}

.section-full-width {
    width: 100%;
    padding-bottom: 40px;
    position: relative;
}

.hero-img {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 250px;
    width: fit-content;
    overflow: hidden;
    max-width: 90vw;
}

.contact-me {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 150px;
    width: fit-content;
    overflow: hidden;
    max-width: 90vw;
}

.intro-img {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 225px;
    width: fit-content;
    overflow: hidden;
    max-width: 90vw;
}

.work-img {
    position: absolute;
    left: 0;
    top: -50px;
    height: 150px;
    width: fit-content;
    overflow: hidden;
    max-width: 90vw;
}

.skills-card {
    margin: -100px auto 50px !important;
    position: relative;
}

@media only screen and (max-width: 768px) {
    .section {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .skills-card {
        margin: 0 !important;
        pading: 15px;
    }

    .work-img {
        display: none;
    }

    .hero-title {
        font-size: 30px;
    }

    .hero-img {
        height: 200px;
        width: fit-content;
    }

    .mobile-hidden {
        display: none !important;
    }
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}