html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    width: 100%;
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden !important;
    max-width: 100vw !important;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden !important;
    max-width: 100vw !important;
}

.hero-container {
    text-align: center;
    height: calc(100vh - 100px);
    background: white;
}

.section {
    margin: 0 auto;
    max-width: 960px;
    padding: 0px 1.0875rem 1.45rem;
    padding-bottom: 40px;
}

.section-full-width {
    width: 100%;
    padding-bottom: 40px;
    position: relative;
}

.hero-img {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 250px;
    width: fit-content;
    overflow: hidden;
    max-width: 90vw;
}

.contact-me {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 150px;
    width: fit-content;
    overflow: hidden;
    max-width: 90vw;
}

.intro-img {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 225px;
    width: fit-content;
    overflow: hidden;
    max-width: 90vw;
}

.work-img {
    position: absolute;
    left: 0;
    top: -50px;
    height: 150px;
    width: fit-content;
    overflow: hidden;
    max-width: 90vw;
}

.skills-card {
    margin: -100px auto 50px !important;
    position: relative;
}

.skills-col {
    border-bottom: 1px solid lightgrey;
}

.skills-col:first-child {
    border-right: 1px solid lightgrey;
}

.project-img-container {
    position: relative;
}

.project-img-container:hover div {
    transform:translate(0);
    opacity: 1;
}

.project-img-container:hover .project-img-links {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    height: fit-content;
}

.project-img-container:hover div img {
    opacity: 0.5;
}

.project-img-container:hover div svg {
    color: #6a3fdc;
    margin: 5px;
    background: white;
    border-radius: 20px;
    padding: 5px;
    height: 35px;
    width: 35px;
    box-shadow: 0 0 8px rgb(0 0 0 / 13%);
}

.link-no-style {
    color: unset;
    text-decoration: unset;
}

.project-img-container div {
    transform:translate(9999px);
    opacity: 0;
    height: 100%;
    width: 100%;
    transition: opacity 0.5s linear;
    position: absolute;
    background: rgba(211, 211, 211, 0.74);
    top: 0;
    left: 0;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@media only screen and (max-width: 768px) {
    .section {
        width: 100%;
        padding: 10px 20px 10px 20px;
    }

    .skills-col:first-child {
        border-right: none;
    }

    .skills-card {
        margin: 0 !important;
        pading: 15px;
    }

    .work-img {
        display: none;
    }

    .hero-title {
        font-size: 30px;
    }

    .hero-img {
        height: 200px;
        width: fit-content;
    }

    .mobile-hidden {
        display: none !important;
    }

    .hero-container {
        text-align: center;
        height: calc(100vh - 0px);
        background: white;
    }
}
